.container{
    width:500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}
.welcome{
    width:100%;
    display: flex;
    align-items: center;
    background-color: rgb(245, 97, 43);
    justify-content: center;
    gap: 30px;
}
#add{

}
.mobile img{
    width :150px;
    height: 200px;
}
.activities{
    display:flex;
    /* width:80%; */
    align-items: center;
    justify-content: center;
    /* gap:10px; */
    justify-content: space-evenly;
}
.act{
    display: flex;
    justify-content: center;
}
.activity{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid orangered;
    padding:0.8rem;
    justify-content: center;
    align-content: center;
    /* height:200px;
    width:200px; */
}
